.footer__main {
  padding-top: 140px;
  padding-bottom: 140px;
}

.main-footer__container {
  display: grid;
  grid-template-columns: minmax(auto, 378px) auto auto minmax(auto, 378px);
  gap: 64px;
}

.main-footer__column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-footer__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
}

.social {
  display: flex;
  gap: 16px;
}

.social__link {
  flex: 0 0 36px;
  height: 36px;
  border: 1px solid rgba(129, 129, 139, 0.9);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.3s ease 0s;
}

.social__link:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}

.main-footer__label {
  font-size: 20px;
  line-height: 1.2;
  color: #ffff;
  font-weight: 500;
}

.menu-footer__list {
  display: grid;
  gap: 24px;
}

.menu-footer__link {
  line-height: 1.4;
}

.menu-footer__item a {
  color: #9c9c9c;
}

.menu-footer__item a:hover {
  color: #ffff;
}

.subscribe__form {
  display: flex;
  gap: 16px;
}

.subscribe__input {
  width: 100%;
  height: 54px;
  border: 1px solid rgba(129, 129, 139, 0.3);
  border-radius: 50px;
  padding: 0px 33px;
  color: #ffffff;
  background-color: transparent;
}

.subscribe__input::placeholder {
  color: #999999;
}

.subscribe__button {
  min-width: 136px;
}

.bottom-footer {
  border-top: 1px solid rgba(129, 129, 139, 0.2);
  padding-top: 45px;
  padding-bottom: 45px;
}

.bottom-footer__copy {
  text-align: center;
}

@media (max-width: 1100px) {
  .main-footer__container {
    gap: 45px;
    grid-template-columns: minmax(auto, 378px) auto auto;
  }

  .main-footer__column:nth-child(1) {
    grid-column: span 3;
  }
}

@media (max-width: 991.98px) {
  .footer__main {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .subscribe {
    flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  .footer__main {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .main-footer__container {
    gap: 35px;
    grid-template-columns: auto auto;
  }

  .main-footer__column:nth-child(1) {
    grid-column: span 2;
  }

  .main-footer__column:nth-child(4) {
    grid-column: span 2;
  }

  .bottom-footer {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

@media (max-width: 479.98px) {
  .subscribe {
    flex-direction: column;
  }
}
