.achievements {
  padding-top: 100px;
  padding-bottom: 100px;
}

.achievements__container {
  display: flex;
  row-gap: 32px;
}

.achievements__items {
  flex: 1 1 auto;
  padding-right: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.achievements__item {
  padding: 40px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}

.achievements__item:hover {
  transform: scale3d(1.1, 1.1, 1);
  transition: all 0.5s ease 0s;
}

.achievements__value {
  font-weight: 500;
  font-size: 51.2px;
  line-height: 1.19;
  color: #ffffff;
}

.achievements__value:not(:last-child) {
  margin-bottom: 32px;
}

.achievements__text {
  font-size: 18px;
  line-height: 1.5;
}

.achievements__image {
  flex: 0 0 38%;
  border-radius: 0% 68% 60% 60% / 0% 67% 53% 53%;
  overflow: hidden;
  align-self: center;
  transform: rotate(10deg);
}

.achievements__image.active {
  transform: rotate(0deg);
  transition: all 1.5s ease 0s;
}

.achievements__image img {
  max-width: 100%;
  transform: scale(1.006);
}

@media (max-width: 991.98px) {
  .achievements__container {
    flex-direction: column;
  }

  .achievements__items {
    padding-right: 0;
  }

  .achievements {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .achievements__image {
    align-self: center;
  }

  .achievements__item:hover {
    transform: scale3d(1.06, 1.1, 1);
    transition: all 0.5s ease 0s;
  }
}

@media (max-width: 767.98px) {
  .achievements {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 650px) {
  .achievements__items {
    grid-template-columns: auto;
  }

  .achievements__item:hover {
    transform: scale3d(1.04, 1.1, 1);
    transition: all 0.5s ease 0s;
  }
}
