.start {
  padding-top: 200px;
  padding-bottom: 100px;
}

.start__body {
  display: flex;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 52px 40px;
  align-items: center;
  opacity: 0;
  transform: translate(0, 25%);
}

.start__body.active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 1s ease 0s;
}

.start__column {
  flex: 0 1 50%;
  text-align: center;
}

.start__title {
  font-size: 32px;
  color: #ffffff;
  font-weight: 400;
  line-height: 1.4;
}

.start__title:not(:last-child) {
  margin-bottom: 16px;
}

.start__text {
  line-height: 1.5;
  font-weight: 300;
  max-width: 340px;
  display: inline-block;
}

.start__actions {
  display: flex;
  column-gap: 32px;
  row-gap: 20px;
  justify-content: center;
}

@media (max-width: 991.98px) {
  .start {
    padding-top: 150px;
    padding-bottom: 100px;
  }

  .start__body {
    flex-direction: column;
    row-gap: 30px;
    align-items: stretch;
  }
}

@media (max-width: 767.98px) {
  .start {
    padding-top: 120px;
    padding-bottom: 100px;
  }
  .start__title {
    font-size: 24px;
  }
}

@media (max-width: 479.98px) {
  .start {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .start__actions {
    flex-direction: column;
  }
}
